### git ignore files.
.project
.classpath
.settings
.metadata

*.class
*.jar
*.war
*.ear

*.lnk
*.tmp
*.tmp.txt

### Windows template
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Maven or Android ignore dir or files
/target/
/logs/
/gen/
/bin/
.git
.svn