### -------------------------------------------
### Maven template project files
.project
.classpath
.settings
.metadata

### Maven or Android ignore dir or files
/target/
/logs/
/gen/
/bin/
.git
.svn

### Java template
*.class
*.jar
*.war
*.ear

### Jvm Crash logs
hs_err_pid*

### MacOS files
._*
.Trashes
.DS_Store
.DS_Store?
.Spotlight-V100
Icon?

### Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

